spring:
  datasource:
    url: jdbc:postgresql://43.200.191.9:5432/univ_db
    username: user
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
